<div class="row">
  <div class="small-9 columns">

    <h1><%= @question.title %></h1>
    <p>
      <%= @question.description %>
    </p>

    <h3>Answers</h3>
    <% if @answers.length == 0 %>
      <p>There are no answers yet.</p>
    <% else %>
      <ul>
        <% @answers.each do |answer| %>
          <li><%= answer.description %></li>
        <%- end -%>
      </ul>
    <%- end -%>
    <h3>Submit Answer</h3>

    <%= render 'answers/form' %>


  </div>

  <div class="small-3 columns">
    <h3><%= link_to "Edit Question", edit_question_path(@question) %></h3>
    <h3><%= link_to "Delete", question_path, method: :delete, data: {confirm: "Are you sure?"} %></h3>

  </div>
</div>
